
/* app.scss */

/* Definição das variáveis de cores */
$primary: #EA40A4;
$business: #3A82EE;
$personal: $primary;
$light: #EEE;
$grey: #888;
$dark: #313154;
$danger: #ff5b57;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
$personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
$primary-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);

/* Definição das variáveis de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	margin: 10px;
	padding: 50;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}